.homeHeader-container {
    width: 100%;
    height: auto;
    justify-content: center;
}
.homeHeader {
    background-image: url(../media/hd-bg4.png);
    background-position: center 100%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 45px;
}
.header-text {
    color:antiquewhite;
}
.header-text h2 {
    letter-spacing: 3px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    font-weight: lighter;
}
.header-text h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom:0;
    display: flex;
    justify-content: center;
    letter-spacing: 8px;
}
.mycontacts-icons {
    margin-top:10px;
    display: flex;
    justify-content: center;
    gap:30px;
    margin-bottom:0;
    padding: 0;
}
.mycontacts-icons a {
    text-decoration: none;
    padding: 8px;
    background-color:transparent;
    margin: 10px;
    border-radius: 50%;
    border:2px solid antiquewhite;
    opacity:0.8;
}
.mycontacts-icons a i {
    font-size: 1.5rem;
    color: antiquewhite;
}
.mycontacts-icons a:hover {
    opacity:1;
    transition:0.3s;
}
.profile-image {
    border-radius: 50%;
    width: 110px;
    background: antiquewhite;
    padding: 2px;
    justify-content: center;
}
.profile-container {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.block-quote {
    color: #545454;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
blockquote {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    width: 50%;
    margin: 2rem auto;
    padding: .1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
blockquote::before {
    content: '\201c';
    top: 10px;
    bottom: -40px;
    left: -45px;
}
blockquote::after {
    content: '\201d';
    bottom: -30px;
    right: -35px;
}
blockquote::before,
blockquote::after {
    font-size: 6rem;
    position: absolute;
}
.desc-container {
    padding: 0 115px;
    color: rgb(20, 20, 20);
    text-align: justify;
    line-height: 1.7rem;   
}
.desc-container p {
    text-indent: 5%;
    font-size: 16px;
}
.desc-container p::first-letter {
    font-size: 30px;
    color: red;
    font-weight: bold;
    letter-spacing: 3px;
}
.slider-body{
    display:grid;
    place-items: center;
    width:100%;
    overflow: hidden;
}
.slider{
    height:100%;
    margin:auto;
    position:relative;
    width:100%;
    display:grid;
    place-items: center;
}
.slide-track{
    display:flex;
    width:calc(250px*14);
    animation:scroll 40s linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*7));
    }
}
.slide{
    height:200px;
    width:250px;
    display:flex;
    align-items: center;
    padding:15px;
    perspective: 100px;
}
.slide img{
    width:100%;
    object-fit: cover;
    transition:transform 1s;
}
.slider img:hover{
    transform:translateZ(20px);
}
.slider-body::before,
.slider-body::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content:'';
    height:250px;
    position:absolute;
    width:15%;
    z-index:2;
}
.slider-body::before{
    left:0;
}
.slider-body::after{
    right:0;
    transform:rotateZ(180deg);
}
.project-highlights{
    background-color: rgb(219, 229, 231);
    margin-top:70px;
}
.formatter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formatter li{
    list-style: none;
    width:50%;
}
.formatter li:first-child{
    display:flex;
    justify-content: center;
}
.formatter li img{
    width:320px;
}
.formatter li p{
    line-height:16px;
    padding: 40px 0;
}
.formatter .technical{
    font-weight: lighter;
    font-size:14px;
    color:rgb(30,30,30);
}
.formatter h1{
    font-size:28px;
    color:rgb(30,30,30);
}
.formatter h2{
    font-weight:lighter;
    font-size:20px;
    color:rgb(30,30,30);
}
.see-projects{
    font-size:20px;
    display:flex;
    align-items: center;
    gap: 10px;
}
.see-projects:hover .arrow{
    transition-duration:0.3s;
    transform: translateX(8px);

}
.formatter li a{
    text-decoration: none;
    color:rgb(30,30,30);
}
.arrow{
    font-size:40px;
    transition-duration: 0.3s;
    
}
.gap{
    height:60px;
}
@media (max-width:1150px) {
    blockquote{
        text-align: center;
        font-size:1.2rem;
    }
    blockquote::before {
        top: 10px;
        bottom: -40px;
    }
    
    blockquote::after {
        bottom: -15px;
    }
    blockquote::before,
    blockquote::after {
        font-size: 3rem;
    }
    .header-text h1 {
        font-size: 35px;
        justify-content: center;
        letter-spacing: 2px;
    }
    .header-text h2 {
        font-size: 14px;
    }
    .profile-image {
        width:90px;
    }
    .desc-container {
        padding: 0 35px;
    }
    .desc-container p{
        font-size:0.9rem;
        line-height: 25px;
    }
    .mycontacts-icons{
        gap:2px;
    }
    .mycontacts-icons a{
        padding: 3px;
    }
    .mycontacts-icons a i{
        font-size:1rem;
        padding: 3px;
    }
    .project-highlights ul{
        flex-direction: column;
        padding:0;
    }
    .formatter li{
        width:100%;
    }
    .formatter li p{
        text-align: center;
    }
    .formatter li p{
        line-height:13px;
        padding: 10px 0;
    }
    .formatter .technical{
        font-size:10px;
    }
    .formatter h1{
        font-size:25px;
    }
    .formatter h2{
        font-size:15px;
    }
    .gap{
        height:40px;
    }
    .see-projects{
        font-size:19px;
        justify-content: center;
    }
    .formatter li img{
        padding-top:30px;
        width:250px;
    }
}




