* {
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
body {
    margin: 0;
}
.pagecontainer {
    margin: 0;
}
.projects-Pages {
    margin: 0;
    font-family: sans-serif;
    color: rgb(20,20,20);
    padding:2em;
    text-align: justify;
}
.projects-Pages-title {
    text-align: center;
    margin-top:45px;
    font-size: 1.4em;
    margin-bottom:60px;
    color:rgb(20,20,20);
}
.projects-Pages-content p{
    padding:0 105px;
    text-indent: 5%;
}
.projects-Pages-content p::first-letter{
    font-size: 2rem;
    color: red;
    font-weight: bold;
    letter-spacing: 4px;
}
.project-Pages-Photos-Container{
    padding: 0 105px;
    text-align: center;
}
.project-Pages-Photos-Container img{
    height:400px;
    margin: 70px 20px;
    max-width: 400px;
}
.project-Pages-Photos-Container video{
    height:300px;
    width:100%;
    margin-top:70px;
}
/* MOBILE VIEW */
@media (max-width:1150px) {
    .projects-Pages p{
        padding:0 30px;
        font-size:small;
    }
    .project-Pages-Photos-Container{
        padding: 0;
        align-items: center;
        justify-content: center;
        width:100%;
    }
    .project-Pages-Photos-Container img{
        width: 20vw;
        height: auto;
    }
}