* {
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
body {
    margin: 0;
}
.pagecontainer {
    margin: 0;
}
/* PROJECTS PAGE */
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card {
    width: 325px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.card:hover{
    transform:translateY(-10px);
    transition:0.2s;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 13px;
    background-color: antiquewhite;
}
.card{
    background-color: antiquewhite;
}

.card-content h3 {
    font-size: 25px;
    margin: 0;
}

.card-content p {
    color: #343434;
    font-size: 14px;
    line-height: 1.3;
}

.card-content .btn-card {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(30, 30, 30);
    text-decoration: none;
    border-radius: 20px;
    margin-top: 16px;
    color: antiquewhite;
    border:3px solid transparent;
}
.card-content .btn-card:hover {
    background-color: antiquewhite;
    color:rgb(30, 30, 30);
    border:3px solid rgb(30, 30, 30)
}
.icons-container-projects{
    margin:0;
    padding:0;
    color:rgb(20,20,20);
    display:flex;
    gap:0.7rem;
}
.icons-container-projects i{
    font-size:1.6em;
}
.icons-container-projects img{
    height:25px;
    object-fit: cover;
}

/* EXPERIENCE PAGE */
.experiencesPage {
    margin: 0;
    font-family: sans-serif;
    color: black;
    padding: 2em;
}

.experiencePage * {
    margin: 0;
    padding: 0;
}

.experiencePage-title {
    text-align: center;
    font-size: 1.4em;
    color:rgb(20,20,20)
}
/*PROJECTS PAGES*/
.projects-Pages {
    margin: 0;
    font-family: sans-serif;
    color: rgb(20,20,20);
    padding:2em;
    text-align: justify;
}
.projects-Pages-title {
    text-align: center;
    margin-top:45px;
    font-size: 1.4em;
    margin-bottom:60px;
    color:rgb(20,20,20)
}
.projects-Pages p{
    padding:0 105px;
}
.projects-Pages-content p::first-letter{
    font-size: 2rem;
    color: red;
    font-weight: bold;
    letter-spacing: 4px;
}
.project-Pages-Photos-Container{
    padding: 0 105px;
    text-align: center;
}
.project-Pages-Photos-Container img{
    height:400px;
    margin: 70px 20px;
    max-width: 400px;
}
.project-Pages-Photos-Container video{
    height:300px;
    width:100%;
    margin-top:70px;
}
/* MOBILE VIEW */
@media (max-width:1150px) {
    .exph-container{
        font-size:large;
        padding: 0 45px;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .projects-Pages p{
        padding:0 30px;
        font-size:small;
    }
    .project-Pages-Photos-Container{
        padding: 0;
        align-items: center;
        justify-content: center;
        width:100%;
    }
    .project-Pages-Photos-Container img{
        width: 20vw;
        height: auto;
    }
}